{% extends 'base.html' %}
{% load custom_time_functions %}
{% load static %}

{% block content %}
    <h1>{{page_name}}</h1>
        <div class="card">
            <div class = "card-content">
                <div class="row">
                    <div class="col s6">
                        <img src="{% static "/imgs/plants/db-use/devils_ivy.png"%}" style="width: 100%";>
                        {%if plant.botanical_name%}
                    </div>
                            <div class="col s6">                 
                                <span class="card-title"> {{plant.common_name}} <span/>
                                    <h6><i>{{plant.botanical_name}}</i></h6>
                                <div>
                                    <p>Description:</p>
                                    <p> {{plant.description}}</p>
                                </div>
                                <div>
                                    <p>Watering needs:</p> 
                                    <p>Every {{plant.time_till_dry}} days or moist soil</p>                                
                                </div>
                            </div>
                        {%else%}
                            <span class="card-title"> {{plant.nickname}} <span/>
                            <p>type: 
                                {% comment %} works but i think it might be super hacky
                                I was trying to acces it as plant.type.common_name {% endcomment %}
                                {%for type in plant.type.all%}
                                {{type.common_name}}
                                {% endfor %}
                            </p>
                            <div class="'card-action">
                                <a href="{% url 'plant_update' plant.id %}">Edit</a>
                                <a href="{% url 'plant_delete' plant.id %}">Delete</a>
                            </div>
                    </div>
                    <div class="col d6">
                        {{plant.type.all.first.time_till_dry}}
                        <span>Comments:</span>
                        {%if comments %}
                        <p>{{plant.comments}}</p>
                        {% else %}
                        <p>No comments yet. Edit the card to input</p>
                        {% endif %}
                        <hr>
                        <p>Last Watering: {{plant.watering_date}}</p>
                        {% today_date as today %}
                        {%days_until plant.watering_date plant.type.all.first.time_till_dry as days_until%}
                        {%for value in days_until|times %}
                                        <div class="col S{{plant.type.all.first.time_till_dry}} blue lighten-5">
                                            💧
                                        </div>
                                        {% endfor %}
                                    
                                    </div>
                                    {% if days_until >= 0 %}
                                    <span class="green-text">Plant is happy and still watered</span>
                                    {% else %}
                                    <span class="red-text">Plant needs watering</span>
                                    {% endif %}
                        {% comment %} super haxxxorz as well, I don't think this is the clean way, but it works {% endcomment %}
                        {% if days_until < plant.type.all.first.time_till_dry %}
                        <span><p class="blue-text">Watered</p> <form action="{% url 'update_watering_date' plant.id  today %}" method="post">
                            {% csrf_token %}
                            <button class="blue lighten-4">Water Again</button>
                        </form></span>
                        {% else %}               
                        <span><p class="red-text">Needs Water</p>
                            <form action="{% url 'update_watering_date' plant.id  today %}" method="post">
                                {% csrf_token %}
                                <button class="blue lighten-1">Water</button>
                            </form></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}      
{% endblock %}