{% extends 'base.html' %}
{% load custom_time_functions %}
{% load static %}

{% block content %}
    <h1>{{page_name}}</h1>
    <div class="row">
        {% for plant in plants %}
        <a href ="/plants/{{ plant.id }}">
            <div class="card col s3">
                <div class = "card-content">
                    <div class="row">
                        <div class="col S6">
                            <img src="{% static "/imgs/plants/db-use/devils_ivy.png"%}" style="width: 100%";>
                            <span class="card-title"> <h2>{{plant.nickname}}</h2> <span/>
                            <p>Type: {{plant.type.common_name}}</p>
                        </div>
                        <div class="col s12">
                            <p>
                                Last Watering: {{plant.watering_date}}
                            </p>
                            
                                <div>
                                    <div class="row">
                                        {%days_until plant.watering_date plant.type.time_till_dry as days_until%}
                                        {%for value in days_until|times %}
                                        <div class="col S{{plant.type.time_till_dry}} blue lighten-5">
                                            💧
                                        </div>
                                        {% endfor %}
                                    
                                    </div>
                                    {% if days_until >= 0%}
                                        {% if plant.healthy %}
                                        <span class="green-text">Plant is happy and still watered</span>
                                        {% else %}
                                        <span class="yellow-text">Plant is watered but has health issues</span>
                                        {% endif %}
                                    {% else %}
                                        {% if plant.healthy %}
                                        <span class="red-text">Plant needs watering</span>
                                        {% else %}
                                        <span class="red-text-darken-4">Plant need watering and has health issues</span>
                                        {% endif %}
                                    {% endif %}
                                    <hr>
                                    <div class="right">
                                        <form action="{% url 'social_status_switch' plant.id %}" method="post">
                                            {% csrf_token %}
                                            <p>
                                                <label onclick="this.form.submit()">
                                                    {% if plant.public %}
                                                    <input type="checkbox" checked="checked" />
                                                    {% else %}
                                                    <input type="checkbox" />
                                                    {% endif %}
                                                    <span>Share on Public feed</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <script>
    //checkbox fix
   // const checkEl =document.getElementById('id_healthy')
   // const checkFix = document.createElement('span')
   // checkFix.innerHTML = ""
   // checkEl.parentNode.insertBefore(checkFix,checkEl.nextSibling)
    </script>

{% endblock %}