{% extends 'base.html' %}
{% load custom_time_functions %}
{% load static %}

{% block content %}
    <h1>{{page_name}}</h1>
    <div class="row">
        {% for plant in plants %}
        <a href ="/plants/{{ plant.id }}">
            <div class="card col s3">
                <div class = "card-content">
                    <div class="row">
                        <div class="col S6">
                            <img src="{% static "/imgs/plants/db-use/devils_ivy.png"%}" style="width: 100%";>
                            <span class="card-title"> {{plant.nickname}} <span/>
                            <p>type: {{plant.type.common_name}}</p>
                        </div>
                        <div class="col S6">
                            <p>
                                Last Watering: {{plant.watering_date}}
                            </p>
                            {% if plant.watering_date|days_until < plant.type.all.first.time_till_dry %}
                                <div class="blue bold">
                                    Plant is happy and still watered
                                </div>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}