{% extends 'base.html' %}
{% load custom_time_functions %}
{% load static %}

{% block content %}
    <h1>{{page_name}}</h1>
    {% for plant in plants %}
    <div class=" container col s6 m7 offset-m3 offset-l4">
            <div class="card horizontal">
                <div class="card-image">
                    {% if plant.photo_set.first %}
                    <img src="{{ plant.photo_set.first.url }}" alt="{{ plant.name }}">
                    {% else %}
                    <img src="{% static "imgs/plants/db-use/devils_ivy.png"%}" alt="{{plant.common_name}} image";>
                    {% endif %}
                    <span class="card-title"> {{plant.nickname}} <span class="green-text darken-2"><h6 style="display:inline !important">{{plant.user.username}}</h6></span> <span/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div>
                            <span class="card-field">Type: </span>
                            <p>{{plant.type.common_name}}</p>
                            <span class="card-field">Botanical name: </span>
                            <p><i>{{plant.type.botanical_name}}</i></p>
                        </div>
                        <div>
                            <span class="card-field"> <span class="green-text darken-2">{{plant.user.username}}</span> comments:</span>
                            <p class="card horizontal">{{plant.comments}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>  

    {% endfor %}
{% endblock %}