{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="about-img fadeIn">
        <img src="../static/imgs/plants/general-use/about-img.png" alt="plants"/>
    </div>
    <table>
        <tr>
            <!-- <div class="col s6"> -->
            <td>
                <div class="about-head">
                    <span class="app-title">PLANTPH</span>
                </div>
            </td>
            <!-- </div> -->
            <!-- <div class="col s6"> -->
            <td>
                <div class="about-green">
                    <p class="flow-text">With Plant PH you can organize, tend, learn about, and share the plants that you own</p>
                </div>   
            </td>
            <!-- </div> -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td>
                <div class="about-green">
                    <p class="flow-text">At a glance you will be able to see when you last watered your plants and when you should water them again</p>
                </div>   
            </td>
            <!-- </div>  -->
            <!-- <div class="col s6"> -->
            <td>    
                <div class="about-head">
                    <span class="app-title">WATERING</span>
                </div>
            </td>    
            <!-- </div> -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-head">
                    <span class="app-title">KNOWING</span>
                </div>
            </td>    
            <!-- </div> -->
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-green">
                    <p class="flow-text">With the help of our database, you will have the most relevant information for the proper care of your plants at your fingertips</p>
                </div>   
            </td>    
            <!-- </div>  -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-green">
                    <p class="flow-text">Indecisive about which plants suit your space best? Maybe you want to try something new? We'll suggest plants based on your skill level and preferences</p>
                </div>   
            </td>    
            <!-- </div>   -->
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-head">
                    <span class="app-title">DISCOVERING</span>
                </div>
            </td>    
            <!-- </div> -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-head">
                    <span class="app-title">SHARING</span>
                </div>
            </td>    
            <!-- </div> -->
            <!-- <div class="col s6"> -->
            <td>     
                <div class="about-green">
                    <p class="flow-text">As a proud Plant parent you can share your babies with other plant enthusiasts</p>
                </div>   
            </td>    
            <!-- </div>  -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td>     
                <div class="about-green">
                    <p class="flow-text">If you are thinking about getting plants, have plants but could use some help, or you have a green thumb that legends are made of... you are a Plant Parent</p>
                </div>   
            </td>    
            <!-- </div>   -->
            <!-- <div class="col s6"> -->
            <td>    
                <div class="about-head">
                    <span class="app-title">PLANT PARENT</span>
                </div>
            </td>    
            <!-- </div> -->
        </tr>
    </table>
    <table>
        <thead>
            <tr>
              
                    <td>
                        <div class="about-head">
                            <span class="app-title">MEET THE TEAM</span>
                        </div>
                    </td>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h3>ERIC GARCIA</h3>
                </td>
                <td>
                    <h3>LEO ESCAROZ</h3>
                </td>
                <td>
                    <h3>WILLIE OCHOA</h3>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}