{% extends 'base.html' %}

{% block content %}
<div class="row">
    
    <table class="about-table">
        <div class="about-img fadeIn">
            <img class="about-imgSize" src="../static/imgs/plants/general-use/about-img.png" alt="plants"/>
        </div>
        <tr>
            <!-- <div class="col s6"> -->
            <td>
                <div class="about-head">
                    <span class="app-title"><span class="bold-green">PLANT</span>PH</span>
                </div>
            </td>
            <!-- </div> -->
            <!-- <div class="col s6"> -->
            <td class="about-green">
                <div>
                    <p class="about-text">With Plant PH you can organize, tend, learn about, and share the plants that you own</p>
                </div>   
            </td>
            <!-- </div> -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td class="about-green">
                <div>
                    <p class="about-text">At a glance you will be able to see when you last watered your plants and when you should water them again</p>
                </div>   
            </td>
            <!-- </div>  -->
            <!-- <div class="col s6"> -->
            <td>    
                <div class="about-head">
                    <span class="app-title">WATERING</span>
                </div>
            </td>    
            <!-- </div> -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-head">
                    <span class="app-title">KNOWING</span>
                </div>
            </td>    
            <!-- </div> -->
            <!-- <div class="col s6"> -->
            <td class="about-green"> 
                <div>
                    <p class="about-text">With the help of our database, you will have the most relevant information for the proper care of your plants at your fingertips</p>
                </div>   
            </td>    
            <!-- </div>  -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td class="about-green"> 
                <div>
                    <p class="about-text">Indecisive about which plants suit your space best? Maybe you want to try something new? We'll suggest plants based on your skill level and preferences</p>
                </div>   
            </td>    
            <!-- </div>   -->
            <!-- <div class="col s6"> -->
            <td class="about-head"> 
                <div>
                    <span class="app-title">DISCOVERING</span>
                </div>
            </td>    
            <!-- </div> -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td> 
                <div class="about-head">
                    <span class="app-title">SHARING</span>
                </div>
            </td>    
            <!-- </div> -->
            <!-- <div class="col s6"> -->
            <td class="about-green">     
                <div>
                    <p class="about-text">As a proud Plant parent you can share your babies with other plant enthusiasts</p>
                </div>   
            </td>    
            <!-- </div>  -->
        </tr>
        <tr>
            <!-- <div class="col s6"> -->
            <td class="about-green">     
                <div>
                    <p class="about-text">If you are thinking about getting plants, have plants but could use some help, or you have a green thumb that legends are made of... you are a Plant Parent</p>
                </div>   
            </td>    
            <!-- </div>   -->
            <!-- <div class="col s6"> -->
            <td>    
                <div class="about-head">
                    <span class="app-title">PLANT PARENT</span>
                </div>
            </td>    
            <!-- </div> -->
        </tr>
    </table>
    <hr class="table-break">
    <div class="about-head">   
        <span class="app-title">MEET THE TEAM</span>    
    </div>
    <table class="team">
        <tbody>
            <tr class="names">
                <th class="dev-name">
                    <h4>ERIC GARCIA</h4>
                </th>
                <th class="dev-name">
                    <h4>LEO ESCAROZ</h4>
                </th>
                <th class="dev-name">
                    <h4>WILLIE OCHOA</h4>
                </th>
            </tr>
            <tr>
                <td class="dev-info">        
                    <a class="profiles" href="https://github.com/Ermac10"><img class='social-logo'src="/static/imgs/Logos/GitHub-Mark-120px-plus.png"/></a>
                    <a class="profiles" href="https://linkedin.com/in/eric-james-garcia-79a9076b"><img class='social-logo'src="/static/imgs/Logos/LI-In-Bug.png"/></a> 
                </td>
                <td class="dev-info">
                    <a class="profiles" href="https://github.com/Eleoes"><img class='social-logo' src="/static/imgs/Logos/GitHub-Mark-120px-plus.png"/></a> 
                    <a class="profiles" href="https://www.linkedin.com/in/leonardo-escaroz"><img class='social-logo' src="/static/imgs/Logos/LI-In-Bug.png"/></a>  
                </td>    
                <td class="dev-info">
                    <a class="profiles" href="https://github.com/williethewolf"><img class='social-logo' src="/static/imgs/Logos/GitHub-Mark-120px-plus.png"/></a>    
                    <a class="profiles" href="https://www.linkedin.com/in/willie-ochoa-675b35246/"><img class='social-logo' src="/static/imgs/Logos/LI-In-Bug.png"/></a>   
                </td>  
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}