{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{page_name}} |  Plant Parenthood</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="https://kit.fontawesome.com/fe72927f25.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="white" id="navbar">
                <a href="{% url 'home' %}" class="logo"><span class="bold-green">Plant</span>PH</a>
                <input type="checkbox" id="check"/>
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li><a href="{% url 'social_plants_feed' %}">Social Plants</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#!" id="ddm1">Add<i class="material-icons right">arrow_drop_down</i></a>
                        <ul class="dropdown">
                            <li><a href="{% url 'plant_add' %}">Add a plant</a></li>
                            {% if request.user.is_active and request.user.is_staff %}
                            <li><a href="{% url 'plant_create' %}">Create Plant in DB</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a href="#!" id="ddm2">Plants<i class="material-icons right">arrow_drop_down</i></a>
                        <ul class="dropdown">
                            <li><a href="{% url 'plants_index' %}">My plants</a></li>
                            <li><a href="{% url 'plantsDB_index' %}">Plants DB</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}" class="bold-green">Signup</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
        </header>
        <main class="main-container" id="mainContainer">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="page-footer white">
            <div class="container">
                
            </div>
            <div class="footer-copyright white black-text">
                <div class="container">
                    All Rights Reserved, &copy; <script>document.write(new Date().getFullYear())</script><span> Plant Parenthood</span> &nbsp;
                </div>
            </div>
        </footer>

        <script>
            {% comment %} drop down code {% endcomment %}
            var dropdowns = document.querySelectorAll('.dropdown-trigger')
            for (var i = 0; i < dropdowns.length; i++){
            M.Dropdown.init(dropdowns[i]);
            }

            // STICKY NAVBAR
            const navbar = document.getElementById("navbar");
            const mainContainer = document.getElementById("mainContainer");
            const navTop = navbar.offsetTop;

            function fixedNavBar() {
                if (window.scrollY >= navTop) {
                    navbar.classList.add("sticky");
                    mainContainer.classList.add("mainContainer-padding")
                } else {
                    navbar.classList.remove("sticky");
                    mainContainer.classList.remove("mainContainer-padding");
                }
            }
            window.addEventListener("scroll", fixedNavBar);

            // TOGGLE DROPDOWN
            const ddm1 = document.getElementById("ddm1");
            const ddm2 = document.getElementById("ddm2")
            
            // apply click event to dropdown only on mobile-sized screens
            const w = document.documentElement.clientWidth || window.innerWidth;
            if (w <= 920){
                //by default, dropdown menu displays upon clicking the parent
                //to remove the need to click twice to activate toggle, add hide class first.
                ddm1.nextElementSibling.classList.add("hide");
                ddm2.nextElementSibling.classList.add("hide");
                
                //toggle function to hide or show dropdown on mobile screens
                ddm1.addEventListener("click", function() {
                    ddm1.nextElementSibling.classList.toggle("hide");
                })
                
                ddm2.addEventListener("click", function() {
                    ddm2.nextElementSibling.classList.toggle("hide");
                })
            }

            //CAROUSEL
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.carousel')
                var instances = M.Carousel.init(elems, {height:512, numVisible:10, dist:0})
            })
        </script>
    </body>
</html>