/* logo font import, change to your taste, Leo  and remove if not used*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Inter', serif;
}

main {
  flex-grow: 1;
}

footer {
  padding-top: 0;
  text-align: right;
}

nav {
  padding: 0 1rem;
  box-shadow: none;
  display: flex;
  height: 80px;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 4rem;
  flex-wrap: wrap;

}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: .5px;
  transition: all .5s ease;
  text-transform: uppercase;
}

nav label .fas {
  line-height: 2;
}

nav .logo {
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
}

.checkbtn {
  font-size: 2rem;
  color: #1b5e20;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


.parallax-container {
    height: 250px !important;
}

.sticky-navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
}

.home-content {
  height: 100%;
  margin-top: 25%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.home-content p {
  font-size: 1.5rem;
}
.signup {
  font-weight: 600;
}

.app-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.fade-in-image {
  animation: fadeIn 6s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.img-container img {
  margin-top: 6rem;
  filter: drop-shadow(30px 15px 1rem #acacac);
  max-width: 100%;
  height:auto;
}
.footer-copyright {
  color: black;
}

.footer-copyright .container {
  margin-right: 0;
}

.bold-green {
  font-weight: 600;
  color: #1b5e20 ;
}

/* Responsive Nav Bar */

@media (max-width : 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width : 920px) {

  nav .checkbtn {
    display: block;
  }

  #check:checked ~ .check-btn i:before {
    content: "\f0c9";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background:#c8e6c9;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #check:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #check:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #1b5e20;
  }

  .row .col.s6 {
    width: 100%;
  }

  .home-content {
    margin-top: 15%;
  }

  .img-container img {
    filter: none;
  }
}
